// You custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "compass/css3";
// @import "foundation/settings";
// @import "foundation/functions/all";
// @import "foundation/common/globals";
// @import "foundation/mixins/clearfix";
// @import "modular-scale";

// Control which mixins you have access too

// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";
 

body {
	font-family: "runda", sans-serif; }

h1, h2, h3, h4, h5 {
	font-family: "runda";
	font-weight: 300;
	color: #2f3438; }

h1 { font-size: 40px; }
h2 { font-size: 32px; }
h3 { font-size: 26px; }
h4 { font-size: 22px; }
h5 { font-size: 19px; font-weight: 400; }

dl, dt, dd, ul, ol, li, pre, form, fieldset, p, blockquote, th, td {
	font-size: 15px; }

hr { margin-bottom: 10px; }

strong { 
	font-weight: 500 !important; // because bold is too much 
}

ol {
	list-style-position: inside;
	padding: 0;
}

a.external {
	background: url(/images/offsite-link-icon.png) no-repeat center right;
	padding-right: 15px;
}

.sidebar {}

dl.tabs.vertical {
height: auto;
border-bottom: 1px solid #E6E6E6;
}
dl.tabs {
border-bottom: solid 1px #E6E6E6;
display: block;
height: 40px;
padding: 0;
margin-bottom: 20px;
}
dl.tabs.vertical dd {
border-left: 3px solid #CCC;
}
dl.tabs.vertical dt, dl.tabs.vertical dd {
float: none;
height: auto;
}

dl.tabs dd:first-child {
margin-left: 0;
}
dl.tabs dd {
display: block;
float: left;
padding: 0;
margin: 0;
}
dl.tabs.vertical dd a {
background: #F2F2F2;
border: none;
border: 1px solid #E6E6E6;
border-width: 1px 1px 0 0;
color: #555;
display: block;
font-size: 14px;
height: auto;
line-height: 1;
padding: 15px 20px;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
dl.tabs dd a {
color: #6F6F6F;
display: block;
font-size: 14px;
height: 40px;
line-height: 40px;
padding: 0 23.8px;
}
.subtopic {text-indent:20px; }


// ALERTS


.alert {
	font-size: 13px;
	font-weight: 500;
	font-style: italic;
  padding: 10px 35px 10px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #c09853;
}
.alert h4 {
  margin: 0;
}
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-danger,
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}
// Alert spacing as found in context

ol .alert {
	margin: 10px 0; // need spacing above element
	padding: 10px 14px; // this is never going to be closed
	line-height: 18px;
}



