// You custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

@import "compass";

// @import "compass/css3";
// @import "foundation/settings";
// @import "foundation/functions/all";
// @import "foundation/common/globals";
// @import "foundation/mixins/clearfix";
// @import "modular-scale";

// Control which mixins you have access too

// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";
 
// Variables =====================

$gray-light-1: #F7F7F9;  // lightest background
$gray-light-2: #E1E1E8;  // typical border
$gray-light-3: #5d5d62;  // text on a light background


// Mixins =====================

@mixin border-radius($radius: $default-border-radius, $vertical-radius: false) {
  @if $vertical-radius {
    // Webkit doesn't understand the official shorthand syntax for specifying
    // a vertical radius unless so in case there's several we only take the first.
    @include experimental(border-radius, first-value-of($radius) first-value-of($vertical-radius), not -moz, -webkit, not -o, not -ms, not -khtml, not official);
    @include experimental("border-radius", $radius unquote("/") $vertical-radius, -moz, not -webkit, not -o, not -ms, -khtml, official); }
  @else {
    @include experimental(border-radius, $radius); } }


// Styles =====================

body {
	font-family: "runda", sans-serif; }

h1, h2, h3, h4, h5 {
	font-family: "runda";
	font-weight: 300;
	color: #2f3438; }

h1 { font-size: 40px; }
h2 { font-size: 32px; }
h3 { font-size: 26px; }
h4 { font-size: 22px; }
h5 { font-size: 20px; font-weight: 400; margin-top: 20px; }

dl, dt, dd, ul, ol, li, pre, form, fieldset, p, blockquote, th, td {
	font-size: 15px; }
hr { margin-bottom: 10px; }
strong { 
	font-weight: 500 !important; // because bold is too much 
}
ol {
	padding: 0px;
}
ol li {
	padding: 3px 0;
}
a {
	color: #2C82B9;
}
a:hover {
	color: darken(#2C82B9,4%);
}
a.external {
	background: url(/images/offsite-link-icon.png) no-repeat center right;
	padding-right: 15px;
}


// Masthead =====================

.topbar {
	background: #2c82b9;
	border-bottom: 1px solid darken(#2c82b9, 7%);
	margin-bottom: 36px;
	border-top: 1px solid #073958;
}
.topbar h1 {
	margin-top: 18px;
	font-size: 38px;
	font-family: "runda", sans-serif;
	float: left;
	color: #054871;
	text-shadow: 1px 1px 0px lighten(#2c82b9,2%);
}
.topbar .nav-bar {
	background: transparent;
	float: right;
}
.topbar .nav-bar li {
	background: transparent;
	font-family: "runda", sans-serif;
}
.topbar .nav-bar > li {
	border: none !important;
	box-shadow: none;
}
.topbar .nav-bar > li > a {
	font-size: 17px;
	color: #fff;
}
.topbar .nav-bar > li > a:hover {
	background: #1f6b9d;
	box-shadow: 0px 0px 5px #1c6798 inset;
	border-radius: 1px;
	cursor: pointer;
}
.topbar .nav-bar > li.active > a,
.topbar .nav-bar > li.active > a:hover {
	color: #2F3438;
	background: #fff;
	box-shadow: 0px 0px 5px #1c6798;
	border-radius: 1px;
	cursor: pointer;
}


// List in docs =====================

.docs ul {
  margin: 0 0 20px 2px;
}

.docs ol {
  counter-reset: li; /* Initiate a counter */
  margin-left: 0; /* Remove the default left margin */
  padding-left: 0; /* Remove the default left padding */
}
.docs ol > li {
  position: relative; /* Create a positioning context */
  margin: 0 0 6px 2.5em; /* Give each list item a left margin to make room for the numbers */
  padding: 3px; /* Add some spacing around the content */
  list-style: none; /* Disable the normal item numbering */
  // border-top: 2px solid #666;
  // background: #f6f6f6;
}
.docs ol > li:before {
  content: counter(li); /* Use the counter as content */
  counter-increment: li; /* Increment the counter by 1 */
  /* Position and style the number */
  position: absolute;
  top: -2px;
  left: -2.8em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 2em;
  // Some space between the number and the content in browsers that support
  // generated content but not positioning it (Camino 2 is one example)
  margin-right: 8px;
  padding: 4px 4px 3px;
  // font + color
  text-shadow: 0 1px 0 white;
  text-align: center;
  font-size: 13px;
  color: $gray-light-3;
  @include border-radius(2px);
  background: $gray-light-1;
  border: 1px solid $gray-light-2; 
}
.docs li ol,
.docs li ul { 
  margin-top:6px; }
.docs ol ol li:last-child { 
  margin-bottom:0; }


// Default color options for pre and code blocks =====================

.pln          { color:#000; }
.str          { color:#080; }
.kwd          { color:#008; }
.com          { color:#800; }
.typ          { color:#606; }
.lit          { color:#066; }
.tag          { color:#008; }
.atn          { color:#606; }
.atv          { color:#080; }
.dec,.var     { color:#606; }
.fun          { color:red; }
.str          { color:#060; }
.kwd          { color:#006; }
.com          { color:#600;font-style:italic}
.typ          { color:#404; }
.lit          { color:#044; }
.pun,
.opn,
.clo          { color:#440; }
.tag          { color:#006; }
.atn          { color:#404; }
.atv          { color:#060; }
.prettyprint  { padding: 2px; border: 1px solid #888; }
ol.linenums   { margin-top: 0; margin-bottom:0; }
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8
              { list-style-type: none; }
li.L1,li.L3,li.L5,li.L7,li.L9
              { background: darken($gray-light-1,3%); }

// Overrides for pre and code blocks =====================

.com { color: #6e7f7f; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #818e8e; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .linenums .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #2f2f33; }

code,
pre {
  padding: 0 3px 2px;
  font-family: Menlo, Courier, Monaco, Consolas, "Courier New", monospace;
  font-size: 12px;
  font-weight: normal;
  color: #333333;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
code {
  padding: 2px 7px 2px 6px;
  color: #d14;
  margin: 0 4px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 6px 0 12px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
pre, pre.prettyprint, .prettyprint ol, .prettyprint ol li {
  font-weight: normal;
  font-size: 12.025px;
}
pre.prettyprint {
  margin-bottom: 12px;
}
pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
.prettyprint {
  padding: 12px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
  list-style-position: outside;
  -webkit-box-shadow: inset 37px 0 0 #fbfbfc, inset 38px 0 0 #ececf0;
     -moz-box-shadow: inset 37px 0 0 #fbfbfc, inset 38px 0 0 #ececf0;
          box-shadow: inset 37px 0 0 #fbfbfc, inset 38px 0 0 #ececf0;
}


// Specify class=linenums on a pre to get line numbering =====================

ol.linenums {
  list-style-position: outside;
  margin: 0; /* IE indents via margin-left */
  counter-reset: item;
  margin-left: 0;
  padding-left: 0;
  list-style-type: decimal-leading-zero; 
} 
ol.linenums li {
  color: #bebec5;
  line-height: 18px;
  text-shadow: 0 1px 0 #fff;
  display: iblock;
  margin-left: 2.4em;
}

ol.linenums li:before {
  display: inline-block;
  content: counter(item) " ";
  counter-increment: item;
  width: 2em;
  margin-left: -2em; }


// For command line styling =====================

.docs ul.linenums {
  list-style-position: outside;
  margin: 0 0 0 33px; /* IE indents via margin-left */
} 
.docs ul.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 18px;
  text-shadow: 0 1px 0 #fff;
  padding-top: 1px;
  padding-bottom: 1px;
}

// Linenums styles (overriding doc lists) =====================

.docs .linenums ol {
  counter-reset: li; /* Initiate a counter */
  margin-left: 0; /* Remove the default left margin */
  padding-left: 0; /* Remove the default left padding */
}
.docs .linenums ol > li {
  position: relative; /* Create a positioning context */
  margin: 0 0 6px 3.5em; /* Give each list item a left margin to make room for the numbers */
  padding: 3px; /* Add some spacing around the content */
  list-style: none; /* Disable the normal item numbering */
  // border-top: 2px solid #666;
  // background: #f6f6f6;
}
.docs .linenums ol > li:before {
  content: counter(li); /* Use the counter as content */
  counter-increment: li; /* Increment the counter by 1 */
  /* Position and style the number */
  position: absolute;
  top: -2px;
  left: -2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 2em;
  margin-left: -1.7em;
  // Some space between the number and the content in browsers that support
  // generated content but not positioning it (Camino 2 is one example)
  margin-right: 0px;
  padding: 5px 4px 3px;
  // font + color
  text-shadow: 0 1px 0 white;
  text-align: center;
  font-size: 13px;
  font-weight: 200;
  color: lighten($gray-light-3, 30%);
  @include border-radius(0px);
  background: none;
  border: none;
}



// Accordion


ul.accordion {
	border-bottom: 0px;
}

ul.accordion > li .content {
	padding: 0;
	margin-bottom: 8px;
	border-bottom: 1px solid #E9E9E9;
}

ul.accordion > li {
	margin-bottom: 8px;
}

ul.accordion > li.active {
	border-top: 1px solid #E9E9E9;
	border-bottom: 0px;
}

ul.accordion > li .title {
	border-bottom: 1px solid #E9E9E9;
	padding: 17px 15px 16px;
}

ul.accordion > li .title h5 {
	font-size: 17px;
}

ul.accordion > li.active .title {
	background: #F6F6F6;
	padding-top: 17px;
	border-bottom: 0px;
}

dl.tabs.vertical {
  height: auto;
  border-bottom: none;
  margin-bottom: 0;
}

dl.tabs {
  border-bottom: solid 1px #E6E6E6;
  display: block;
  height: 40px;
  padding: 0;
  margin-bottom: 0;
}

dl.tabs.vertical dd {
  border-left: 0px;
  border-right: 0px;
}

dl.tabs.vertical dt, dl.tabs.vertical dd {
  float: none;
  height: auto;
}

dl.tabs dd:first-child {
  margin-left: 0;
}

dl.tabs dd {
  display: block;
  float: left;
  padding: 0;
  margin: 0;
}

dl.tabs.vertical dd a {
  background: #f8f8f8;
  border: none;
  border: 1px solid #E6E6E6;
  border-width: 1px 0 0 0;
  color: #2F3438;
  display: block;
  font-size: 14px;
  height: auto;
  line-height: 1;
  padding: 12px 18px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
 
dl.tabs.vertical dd.active {
	margin-top: 0;
	border-top: 1px solid #E6E6E6;
	border-left: 0px;
	font-weight: normal;
}

dl.tabs.vertical dd.active a,
dl.tabs dd.active a {
	font-weight: normal;
	background: #fff;
	color: #2c82b9;
}

dl.tabs dd a {
  color: #6F6F6F;
  display: block;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  padding: 0 23.8px;
}

ul.breadcrumbs {
	margin-bottom: 24px;
}


// ALERTS


.alert {
	font-size: 13px;
	font-weight: 500;
	font-style: italic;
  padding: 10px 35px 10px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #c09853;
}
.alert h4 {
  margin: 0;
}
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-danger,
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}

// Alert spacing as found in context

ol .alert {
	margin: 10px 0; // need spacing above element
	padding: 10px 14px; // this is never going to be closed
	line-height: 18px;
}



